dbconn.php
/bitrix/.settings.php
*.log
license_key.php
upload
bitrix/html_pages/
bitrix/cache/
bitrix/managed_cache/
bitrix/stack_cache/
bitrix/tmp/
bitrix/stats/
/bitrix/*
!/bitrix/templates
!/bitrix/components/bitrix/iblock.element.addtofolder.form/*
/lib/core/vendor


.access.php
.admin_left.menu.php
.bottom.menu.php
.htaccess
.htaccess.restore
.leftfirst.menu.php
.section.php
.top.menu.php
_lib/
cmsmagazine0aed15928111b5ffaa0a89da741d78e1.txt
favicon.ico
robots.txt
urlrewrite.php
web.config